# Chain to fork from
FORK_CHAIN="" # "mainnet", "optimism", "base", etc

# Chains providers and blocks to fork
MAINNET_NODE_URL=""
MAINNET_BLOCK_NUMBER=""

OPTIMISM_NODE_URL=""
OPTIMISM_BLOCK_NUMBER=""

BASE_NODE_URL=""
BASE_BLOCK_NUMBER=""

# The deployer private key
DEPLOYER_PRIVATE_KEY=""

# The address of the deployer account
# If empty, will use accounts[0]
DEPLOYER=""

# Set true to run the 'hardhat-contract-sizer' plugin on compile
RUN_CONTRACT_SIZER=""

# Set true to show gas report after the test round
REPORT_GAS=""

# Etherscan-like explorer api key for code verification
ETHERSCAN_API_KEY=""

# Base providers workaround
# The ethers/hardhat-deploy isn't properly waiting until tx acceptance before moving forweard (base chain only)
# We achieve this same resulting by waiting a few seconds between transactions
# Recommended value >=5
WAIT_SECONDS_BETWEEN_TXS=0
